<div class="row">
    <div id="leftcolumn" class="col-md-6">
        {{#if options.leftLabel}}<h2 class="bg-info">{{options.leftLabel}}</h2>{{/if}}
    </div>
    <div id="rightcolumn" class="col-md-6">
        {{#if options.rightLabel}}<h2 class="bg-info">{{options.rightLabel}}</h2>{{/if}}
    </div>
    <div id="bottomcolumn" class="col-md-12">
    </div>
    <div class="clear"></div>
</div>